.Home {
    height: inherit;
}

.chat-field {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.chat-field > form {
    display: flex;
    width: inherit;
    box-shadow: 0px 33px 28px 22px rgba(0, 0, 0, 0.75);
}

form > textarea {
    border: none;
    background-color: white;
    color: rgb(0, 0, 0);
    resize: none;
    width: 100%;
    font-size: 1.5em;
    border-bottom: 3px solid aliceblue;
    border-left: 3px solid aliceblue;
    border-top: 3px solid aliceblue;
    border-right: 2px solid aliceblue;
    line-height: 40px;
    font-size: 1.9em;
    height: 60px;
}

form > textarea::placeholder {
    color: rgb(179, 178, 178);
}

form > textarea:focus::placeholder {
    color: white;
}

form > textarea:valid {
    width: inherit;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 10px;
}

form > textarea:focus {
    outline: none;
    border-bottom: 3px solid aliceblue;
    border-left: 3px solid aliceblue;
    border-top: 3px solid aliceblue;
    border-right: 2px solid aliceblue;
}

.chat-field > form > button {
    cursor: pointer;
    border: 1px solid white;
    background-color: rgb(155, 251, 184);
    color: black;
    min-width: 100px;
    width: 10vw;
    border-radius: 5px;
}

form > button:focus {
    outline: none;
}

form > button:active {
    box-shadow: inset 0px 0px 8px -2px rgba(0, 0, 0, 0.75);
}

.messages-field {
    margin: 15px;
    margin-bottom: 135px;
}

.messages-wrapper {
    min-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.flex-message-wrapper {
    width: calc(100vw - 30px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.myflex-message-wrapper {
    width: calc(100vw - 30px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message,
.myMessage {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: skyblue;
    width: fit-content;
    max-width: 60vw;
    border-radius: 8px;
    font-size: 1.7em;
    word-break: break-all;
    word-wrap: break-word;
}
